<h5><%= @user.username.capitalize %>'s Prospects:</h5>

<% if @user.attendees.empty? %>
  <ul class="offset-by-one columns">
    <li>No Prospects</li>
  </ul>
<% else %>
  <div class="offset-by-one columns">
    <div id="sort-display"></div>
    <div id="sort-status"></div>
    <%= render partial: "attendees/sort_button", locals: {path: "/users/#{@user.id}/attendees/sort"} %>
  </div>

  <script>
    const id = <%= @user.id %>;
    const action = `https://frozen-dusk-71320.herokuapp.com/users/${id}/attendees/sort`;
    const sortRequest = "Alphabetical";
    getAttendees(action, sortRequest)
    addSortListener()
  </script>
<% end %>
