<h5><%= @user.username.capitalize %>'s Prospects:</h5>

<% if @user.attendees.empty? %>
  <ul class="offset-by-one columns">
    <li>No Prospects</li>
  </ul>
<% else %>
  <%= render "attendees/table" %><br>
<% end %>
