<h2>All Attendees:</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Profession</th>
    <th>Wealth Rating</th>
    <th>Number of Tickets</th>
  </tr>
  <% @attendees.each do |attendee| %>
    <tr>
      <td><%= link_to attendee.name, attendee_path(attendee) %></td>
      <td><%= attendee.profession %></td>
      <td><%= attendee.wealth_rating %></td>
      <td><%= attendee.tickets.count %></td>
    </tr>
  <% end %>
</table>
