<h5>All Attendees:</h5>

<div class="offset-by-one columns">
  <div id="sort-display"></div>
  <div id="sort-status"></div>
  <%= render partial: "sort_button", locals: {path: "attendees/sort"} %>
</div>

<script>
  const action = "https://frozen-dusk-71320.herokuapp.com/attendees/sort";
  const sortRequest = "Alphabetical";
  getAttendees(action, sortRequest)
  addSortListener()
</script>
