<h5>All Concerts:</h5>

<div class="offset-by-one columns">
  <ul>
    <% @concerts.each do |concert| %>
      <li><%= display_date(concert) %> - <%= link_to concert.title, concert_path(concert) %></li>
    <% end %>
  </ul>

  <p><%= link_to "Create a Concert", new_concert_path %></p>
</div>
