<% if object.errors.present? %>
  <h4>Please fix the following error(s):</h4>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
